<div class="textinput" [class.focused]="focused">
  <input
    (focus)="onFocus()"
    (blur)="onBlur()"
    type="text"
    [(ngModel)]="activeElement[property]"
  />
  <div class="endbuttons">
    <div class="btn" (click)="openTextarea()">
      <img src="assets/icons/sidebar/edit.svg" />
    </div>
    <div class="btn" (click)="clear()">
      <img src="assets/icons/sidebar/clear.svg" />
    </div>
  </div>
</div>
