:host {
  border: 1px solid #6b7783;
  opacity: 1;
  font-family: 'mfoeditorfont';
  padding: 5px;
}

.caption {
  display: flex;
  height: 26px;
}

.closeBtn {
  width: 15px;
  height: 15px;
  background-size: cover;
  display: flex;
  margin-left: auto;
  background: url(/assets/icons/databinding-modal/close.svg);
  &:hover {
    cursor: pointer;
  }
}

.searchbar {
  font-size: 13px;
  width: 250px;
  margin-top: 5px;
  display: flex;
  margin-bottom: auto;

  .value {
    color: #2063ff;
    border-bottom: 2px solid #746654;
    text-transform: uppercase;
  }

  ion-input {
    text-align: left;
    background-color: transparent;
    background: none;
    outline: none;
    -webkit-appearance: none;
    box-shadow: none !important;
    border: none;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.has-focus {
  border-bottom: 2px solid #2063ff !important;
}

.clearBtn {
  border-bottom: 2px solid #746654;
  margin-top: 2px;
  padding-bottom: 16px;
  display: flex;
  width: 15px;
  height: 15px;
  background-size: cover;
  background: url(/assets/icons/databinding-modal/close.svg);
  &.search {
    background: url(/assets/icons/databinding-modal/search.svg);
  }
  &.focused {
    border-bottom: 2px solid #2063ff !important;
  }
}

.content {
  height: 95%;
  margin-top: 0px;
  margin-bottom: auto;
}

.gridcontent {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  margin-top: 5px;

  ion-col {
    margin: 3px 0px 3px 0px;
  }

  ion-col:first-child {
    padding-left: 5px;
  }

  ion-col:nth-child(2) {
    padding-right: 5px;
  }
}

.contentrow {
  cursor: pointer;
}

.contentrow:nth-child(odd) {
  background-color: #d0d5dd;
}

.stickyrow {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  left: 0;
  right: 0;
  z-index: 9999999 !important;
  background-color: white;
  font-weight: bold;
  margin-bottom: 5px;
  background-color: lightgray;
  border-bottom: 1px solid;
}

.kuerzel {
  display: inline;
}

.highlight {
  display: inline-table;
  background-color: #ffce4a;
  border-radius: 3px;
  text-align: center;
}

.substr {
  display: inline;
}
