<!-- caption -->
<div class="caption">
  <div class="searchbar" [class.focused]="focused">
    <ion-input
      class="ion-no-padding value"
      type="text"
      (ionFocus)="onFocus()"
      (ionBlur)="onBlur()"
      [(ngModel)]="searchString"
      (ionChange)="onChange()"
      placeholder="Suchtext..."
    >
    </ion-input>
    <button
      class="clearBtn"
      [class.focused]="focused"
      [class.search]="searchString === ''"
      (click)="clearSearch()"
    ></button>
  </div>
  <div class="closeBtn" (click)="close()"></div>
</div>

<!-- table with "Kürzel" and "Text" -->
<div class="content">
  <!-- if list not empty -->
  <ng-container *ngIf="filteredAutotexts.length > 0">
    <div class="gridcontent">
      <ion-grid class="ion-no-padding">
        <ion-row class="stickyrow">
          <ion-col size="3"> Kürzel </ion-col>
          <ion-col size="9"> Text </ion-col>
        </ion-row>
        <ion-row
          *ngFor="let autotext of filteredAutotexts"
          class="contentrow"
          (click)="select(autotext)"
        >
          <ion-col size="3">
            <!-- if search -->
            <ng-container *ngIf="this.searchString !== ''">
              <div class="kuerzel">
                <!-- starts with -->
                <ng-container
                  *ngIf="
                    autotext.kuerzel.startsWith(this.searchString.toUpperCase())
                  "
                >
                  <!-- prettier-ignore -->
                  <div class="highlight">{{autotext.kuerzel.substr(0, this.searchString.length)}}</div>
                  <!-- prettier-ignore -->
                  <div class="substr">{{autotext.kuerzel.substr(this.searchString.length, autotext.kuerzel.length)}}</div>
                </ng-container>

                <!-- includes but does not starts with -->
                <ng-container
                  *ngIf="
                    !autotext.kuerzel.startsWith(
                      this.searchString.toUpperCase()
                    )
                  "
                >
                  <!-- prettier-ignore -->
                  <div class="substr">{{autotext.kuerzel.substr(0, autotext.kuerzel.indexOf(this.searchString.toUpperCase()))}}</div>
                  <!-- prettier-ignore -->
                  <div class="highlight">{{autotext.kuerzel.substr(autotext.kuerzel.indexOf(this.searchString.toUpperCase()), this.searchString.length)}}</div>
                  <!-- prettier-ignore -->
                  <div class="substr">{{autotext.kuerzel.substr(autotext.kuerzel.indexOf(this.searchString.toUpperCase()) + this.searchString.length,autotext.kuerzel.length)}}</div>
                </ng-container>
              </div>
            </ng-container>

            <!-- if search empty -->
            <ng-container *ngIf="this.searchString === ''">
              {{ autotext.kuerzel }}
            </ng-container>
          </ion-col>
          <ion-col size="9">
            {{ autotext.text }}
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ng-container>

  <!-- list empty -->
  <ng-container *ngIf="filteredAutotexts.length === 0">
    <div>Keine Einträge vorhanden.</div>
  </ng-container>
</div>
