#header {
  display: flex;
  text-align: left;
  font-size: 13px;
  font-family: "mfoeditorfont";
  letter-spacing: 0.6px;
  color: #6b7783;
  padding: 5px;
  float: left;
  width: 100%;
}
.headerTitle {
  margin: 0px;
  margin-left: 2px;
}

.closeBtn {
  width: 15px;
  height: 17px;
  margin-right: 0;
  margin-left: auto;
  background: url(/assets/icons/setting-modal/clear.svg) no-repeat;
  &:hover {
    cursor: pointer;
  }
}
.settingImg {
  width: 17px;
}

.textinput {
  display: flex;
  border-bottom: 2px solid #ccc;
  width: 93%;
  float: left;
  padding-left: 2px;
  margin-top: 10px;
  margin-left: 9px;
}

.focused {
  border-bottom: 2px solid #2063ff;
}

input {
  color: #2063ff;
  text-align: left;
  letter-spacing: 2.13px;
  background-color: transparent;
  background: none;
  outline: none;
  -webkit-appearance: none;
  box-shadow: none !important;
  border: none;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.endbuttons {
  display: flex;
  width: 30px;
  margin-left: auto;
  margin-right: 0px;
}

.btn {
  cursor: pointer;
}
.inputHeading {
  font-size: 10px;
  float: left;
  padding-left: 9px;
  margin-top: 20px;
  font-family: "mfoeditorfont";
  letter-spacing: 0.6px;
  color: #6b7783;
}
.formatHeading {
  font-size: 10px;
  float: left;
  padding-left: 9px;
  margin-top: 14px;
  font-family: "mfoeditorfont";
  letter-spacing: 0.6px;
  color: #6b7783;
  width: 100%;
}
.outer {
  background-color: #dfecec;
  float: left;
  width: 100%;
  height: 65px;
  border: 1px solid #0000ff61;
  .outerImg {
    margin-top: 25px;
    margin-left: 48px;
  }
}
.innerGrid {
  float: left;
  width: 100%;
}
.pageShiftI {
  margin-top: 49px;
  margin-left: 41px;
}
.outerText {
  font-size: 29px;
  margin-top: 11px;
  margin-bottom: 5px;
  color: #150ed8;
}
.pageShiftII {
  margin-left: -5px;
}
.selectContent {
  float: left;
  width: 95%;
  border-bottom: 2px;
  border-bottom: 2px solid #ccc;
  color: #2063ff;
  letter-spacing: 1.07px;
  cursor: pointer;
  margin-left: 6px;
  margin-top: 4px;
}
.dropDown {
  float: right;
}
.confirmBtn {
  margin-top: 15px;
  width: auto;
  height: 35px;
  line-height: 35px;
  float: left;
  margin-right: 0px;
  margin-left: 164px;
  background: transparent;
  background-color: #94bcff;
  font-family: "mfoeditorfontbold";
  font-size: 14.67px;
  color: #47515b;
  letter-spacing: 0.15px;
  opacity: 1;
  border-radius: 3px;
  padding: 0 10px 0 12.5px;
}
.openPopup{
  float: left;
  width: 94%;
  margin-left: 9px;
  color: #a7a5b1;
}
