<div>
    <div id="header">
        <img class="settingImg" src="assets/icons/menubar/settings.svg" />
        <p class="headerTitle">Einstellungen</p>
        <div class="closeBtn" (click)="close()"></div>
    </div>
    <div class="inputHeading">KRANKENBLATTBEZEICHNUNG</div>
    <div class="textinput">
        <input type="text" (focus)="onFocus()" (blur)="onBlur()" [(ngModel)]="documentValue" />
        <div class="endbuttons">
            <div class="btn" (click)="openInputDialog()">
                <img src="assets/icons/setting-modal/edit.svg" />
            </div>
            <div class="btn" (click)="onClear()">
                <img src="assets/icons/setting-modal/clear.svg" />
            </div>
        </div>
    </div>
    <div class="formatHeading">FORMAT</div>
    <ion-grid class="innerGrid">
        <ion-row>
            <ion-col size="3">
                <img class="pageShiftI" src="assets/icons/setting-modal/A-.svg" />
            </ion-col>
            <ion-col size="6">
                <div class="outer">
                    <img class="outerImg" src="assets/icons/setting-modal/flip.svg" />
                </div>
            </ion-col>
            <ion-col size="3">
                <div>
                    <p class="outerText">A4</p>
                    <img class="pageShiftII" src="assets/icons/setting-modal/A+.svg" />
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
    <div class="openPopup">
        <ng-container>
            <sb-item class="margintop17" caption="standardschriftart">
                <sb-combobox-settings settings="true" [activeElement]="activeElement" property="SettingsFontFamily" [items]="this.fontService.FontMapping" captionvalue="Family" [class.selected]="BorderClass" [type]="'settings'">
                </sb-combobox-settings>
            </sb-item>
        </ng-container>
    </div>
    <div>
        <button class="confirmBtn">Speichern</button>
    </div>
</div>