ion-item {
    --background: #fbf9ed;
    --padding-end: 0px !important;
    --padding-start: 0px !important;
    font-size: 11px;
    font-family: 'mfoeditorfont';
    color: #726453;
    height: 19px;
    display: flex;
    --inner-padding-start: 4px;
    letter-spacing: 1.07px;
    cursor: pointer;
  }
  
  .selected {
    --background: #fff2b3;
  }
  