<textarea
  #EditText
  *ngIf="this.element.IsDoubleClicked && this.Mode === 0; else RawText"
  (focus)="this.focus($event)"
  (blur)="this.blur($event)"
  [(ngModel)]="this.element.Text"
  [style.textDecoration]="this.hostRef.nativeElement.style.textDecoration"
></textarea>

<ng-template #RawText>
  <!-- prettier-ignore -->
  <p #P [style.textDecoration]="this.hostRef.nativeElement.style.textDecoration">{{this.Mode != 2 ? this.element.Text : getText()}}</p>
</ng-template>

<mfo-active
  *ngIf="this.element.IsSelected"
  [element]="this.element"
  [Mode]="Mode"
></mfo-active>
