<ng-container *ngFor="let child of this.element.Children; let index = index">
  <mfo-shape
    [element]="child"
    [path]="this.path + '.Children.' + index"
    [Mode]="Mode"
  >
  </mfo-shape>
</ng-container>
<mfo-active
  *ngIf="this.element.IsSelected"
  [element]="this.element"
  [Mode]="Mode"
>
</mfo-active>
