:host {
  position: relative;
  transition: all 1s linear 1s;
}

ion-grid.wrapper {
  height: 100vh;

  & > ion-row {
    height: 100vh;
  }
}

#area {
  overflow: scroll;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
}

canvas#grid {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  width: 50%;
  height: 50%;

  pointer-events: none;
}

.print {
  & mfo-container {
    margin-bottom: 10px !important;
  }
}
