<!-- contextmenu for interactive view -->
<ng-container *ngIf="this.Mode == 1 || this.Mode == 3">
  <div class="maincontextmenu">
    <div class="cm-entry" (click)="this.showAutotextDlg($event)">
      Autotext einfügen
    </div>

    <!-- Vorauswahl, wenn vorhanden -->
    <ng-container *ngIf="labels?.length > 0">
      <p class="cm-header">Vorauswahl</p>

      <div
        *ngFor="let label of labels; let idx = index"
        class="cm-entry cm-listentry"
        (click)="this.element.clickedItem(idx)"
      >
        {{ label }}
      </div>
    </ng-container>
  </div>
</ng-container>
