:host {
  font-size: 12px !important;
  font-family: 'mfoeditorfont';
  position: absolute;
  z-index: 999999;
  display: none;
}

.maincontextmenu {
  padding: 4px;
  background-color: white;
  border: 1px solid #6b7783;
  width: 350px;
}

p.cm-header {
  font-family: 'mfoeditorfontbold';
  margin: 10px 0px 7px 0px;
}

.cm-entry {
  cursor: pointer;
}

.cm-listentry {
  margin-left: 10px;
}
