:host {
  display: flex;
  width: 100%;
}

.textinput {
  display: flex;
  border-bottom: 2px solid #746654;
  width: 100%;
  p {
    cursor: pointer;
  }
}

p {
  margin: 0;
  color: #2063ff;
  text-align: left;
  letter-spacing: 2.13px;
  background-color: transparent;
  background: none;
  outline: none;
  -webkit-appearance: none;
  box-shadow: none !important;
  border: none;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.endbuttons {
  display: flex;
  width: 30px;
  margin-left: auto;
  margin-right: 0px;
}

.btn {
  cursor: pointer;
}
