<div class="textinput">
  <p (click)="openDialog()">
    {{
      activeElement.Topic && activeElement.Item
        ? activeElement.Topic + '.' + activeElement.Item
        : '&lt;ohne&gt;'
    }}
  </p>
  <div class="endbuttons">
    <div class="btn" (click)="openDialog()">
      <img src="assets/icons/sidebar/edit.svg" />
    </div>
    <div class="btn" (click)="clear()">
      <img src="assets/icons/sidebar/clear.svg" />
    </div>
  </div>
</div>
