:host {
  border: 1px solid #6b7783;
  opacity: 1;
  padding: 15px 12px 7px 12px;
  font-family: 'mfoeditorfont';
}
#header {
  position: absolute;
  height: 17px;
  width: auto;
  top: 15px;
  left: 12px;

  letter-spacing: 0.65px;
  color: #2063ff;
  opacity: 1;
  font-size: 13px;
  & input {
    position: absolute;
    top: 0;
    left: 0;
    width: 350px;
    height: calc(100% - 1px);
    border: none;
    outline: none;
  }
  & .display {
    position: absolute;
    display: inline-block;
  }
}
.confirmBtn {
  width: auto;
  height: 35px;
  line-height: 35px;
  display: flex;
  margin-right: 0px;
  margin-left: auto;
  background-color: #94bcff;
  font-family: 'mfoeditorfontbold';
  font-size: 17px;
  color: #ffffff;
  letter-spacing: 0px;
  opacity: 1;
  border-radius: 3px;
  padding: 1px 14px;
  &.disabled {
    opacity: 0.3;
  }
}

#itemArea {
  display: inline;
  position: absolute;
  width: 822px;
  height: 482px;
  left: 229px;
  top: 64px;
  background-color: #fffbe8;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 5px 20px 5px 20px;
  & ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style-type: none;
    & li {
      width: 20%;
    }
  }
  .item {
    color: #746654;
    &:hover {
      background-color: #60564a15;
    }
    &.selected {
      background-color: #60564a45;
    }
  }
}

#topicArea {
  display: inline;
  position: absolute;
  width: 191px;
  height: 483px;
  left: 5px;
  top: 69px;
  overflow-y: scroll;
  overflow-x: visible;
  opacity: 1;
  .item {
    color: #616a7c;
    margin-left: 16px;
    &:hover {
      background-color: #2063ff10;
    }
    &.selected {
      background-color: #2063ff30;
    }
  }
  .subList {
    margin-left: 15px;
    .item {
      margin-left: 5px;
    }
    li:first-of-type::after {
      top: -5px;
      height: 16px;
    }
    li::before {
      position: absolute;
      content: '';
      left: -6px;
      top: 10px;
      width: 10px;
      height: 1px;
      background-color: #d0d5dd;
    }
    li::after {
      position: absolute;
      content: '';
      left: -6px;
      top: -13px;
      width: 1px;
      height: 24px;
      background-color: #d0d5dd;
    }
  }
}

ul {
  padding: 0;
  margin: 0;
  font-size: 12px;
  letter-spacing: 0.6px;
  list-style: none;
  & li {
    position: relative;
    margin: 2px 0 2px 0;
    cursor: pointer;
  }
}

.item {
  display: inline-block;
  padding: 3px;
  width: auto;
  border-radius: 3px;
  user-select: none;
}

.separator {
  height: 1px;
  border-top: 1px solid #74665450;
}
.closeBtn {
  width: 15px;
  height: 15px;
  background-size: cover;
  display: flex;
  margin-right: -5px;
  margin-top: -10px;
  margin-left: auto;
  background: url(/assets/icons/databinding-modal/close.svg);
  &:hover {
    cursor: pointer;
  }
}
.clearBtn {
  display: flex;
  width: 15px;
  height: 15px;
  background-size: cover;
  margin-right: 0;
  margin-left: auto;
  background: url(/assets/icons/databinding-modal/close.svg);
  opacity: 0.5;
  &.search {
    background: url(/assets/icons/databinding-modal/search.svg);
    opacity: 1;
    margin-top: 0px;
    margin-bottom: auto;
  }
}
.expandBtn {
  position: absolute;
  top: 2px;
  left: 2px;
  height: 16px;
  width: 16px;
  background: url(/assets/icons/databinding-modal/arrow_down.svg);
  background-size: cover;
  cursor: pointer;
  &.expand {
    background: url(/assets/icons/databinding-modal/arrow_right.svg);
  }
  &:hover {
    background-color: #d0d5dd50;
  }
}
.searchInput {
  background-color: white;
}
.searchbar {
  display: inline-block;
  width: 368px;
  height: 18px;
  border-bottom: 2px solid #abb6c1;
  margin-right: 20px;
  &.focused {
    border-color: #2063ff;
  }
}
.subStr {
  display: inline-block;
}
.highlight {
  background-color: #ffce4a;
  border-radius: 3px;
}
.topic.subMenu {
  padding-left: 16px;
}
