<!--  close button -->
<div class="closeBtn" (click)="close()"></div>
<!-- header -->
<div id="header">
  <!-- searchfield -->
  <div class="searchbar" [class.focused]="focused">
    <input
      class="searchInput"
      type="text"
      [(ngModel)]="searchString"
      (focus)="onFocus(ref)"
      (blur)="onBlur(ref)"
      (input)="updateInnerMatches()"
      placeholder="Suchtext"
      #ref
    />
    <!-- clear searchfield -->
    <button
      class="clearBtn"
      [class.search]="!ref.value.length"
      (click)="clearSearch(ref)"
    ></button>
  </div>
  <!-- display of current Topic and Item-->
  <div class="display">{{ Topic + '.' + Item }}</div>
</div>

<!-- topic area -->
<div id="topicArea">
  <ul>
    <li *ngFor="let topic of topicStructure" (click)="setTopic(topic.name)">
      <ng-container
        [ngTemplateOutlet]="ListItem"
        [ngTemplateOutletContext]="{ value: topic.name, reference: this.Topic }"
      >
      </ng-container>
      <!-- if topic has children topics-->
      <ng-container *ngIf="topic.children?.length">
        <div
          #expand
          class="expandBtn"
          [class.expand]="
            !expand.hasAttribute('data-show') && topic.name !== initTopic
          "
          (click)="showSubTopics($event)"
        ></div>
        <ul
          class="subList"
          [hidden]="
            !expand.hasAttribute('data-show') && topic.name !== initTopic
          "
        >
          <li
            *ngFor="let subTopic of topic.children"
            (click)="setTopic(topic.name + '.' + subTopic.name, $event)"
          >
            <ng-container
              [ngTemplateOutlet]="ListItem"
              [ngTemplateOutletContext]="{
                value: subTopic.name,
                reference: this.Topic.split('.')[1]
              }"
            ></ng-container>
          </li>
        </ul>
      </ng-container>
    </li>
  </ul>
</div>
<!-- item area -->
<div id="itemArea">
  <ul *ngIf="this.Topic">
    <li
      *ngFor="let item of dataBinding.data[this.Topic].items"
      (click)="setItem(item.name)"
    >
      <ng-container
        [ngTemplateOutlet]="ListItem"
        [ngTemplateOutletContext]="{ value: item.name, reference: this.Item }"
      >
      </ng-container>
    </li>
    <!-- if topic contains extra items -->
    <li *ngIf="dataBinding.data[this.Topic].extras" class="separator"></li>
    <li
      *ngFor="let item of dataBinding.data[this.Topic].extras"
      (click)="setItem(item.name)"
      [attr.data-show]="false"
    >
      <ng-container
        [ngTemplateOutlet]="ListItem"
        [ngTemplateOutletContext]="{ value: item.name, reference: this.Item }"
      >
      </ng-container>
    </li>
  </ul>
</div>
<!-- confirm button-->
<button
  class="confirmBtn"
  [disabled]="!Topic.length || !Item.length"
  [class.disabled]="!Topic.length || !Item.length"
  (click)="confirm()"
>
  OK
</button>
<!-- template for list item-->
<ng-template #ListItem let-value="value" let-reference="reference">
  <!-- if value contains searched string-->
  <ng-container
    *ngIf="value.toLowerCase().includes(searchString?.toLowerCase()); else Raw"
  >
    <!-- split string to highlight matching part -->
    <div #ref class="item" [class.selected]="reference === value">
      <div *ngIf="!value.startsWith(subStr.innerText)" class="subStr">
        {{ value.split(subStr.innerText)[0] }}
      </div>

      <div #subStr class="subStr highlight">
        {{
          value.slice(
            value.toLowerCase().indexOf(searchString.toLowerCase()),
            value.toLowerCase().indexOf(searchString.toLowerCase()) +
              searchString.length
          )
        }}
      </div>
      <div class="subStr">
        {{
          value.slice(value.indexOf(subStr.innerText) + subStr.innerText.length)
        }}
      </div>
    </div>
  </ng-container>
  <!-- template for when topic contains searched item-->
  <ng-template *ngIf=""></ng-template>
  <!-- raw template-->
  <ng-template #Raw>
    <div
      class="item"
      [class.selected]="reference === value"
      [class.highlight]="innerMatches?.includes(value)"
    >
      {{ value }}
    </div>
  </ng-template>
</ng-template>
