:host {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #616a7c;
  letter-spacing: 0.3px;
  font-size: 13px;
  height: 37px;
  justify-content: center;
}

img {
  height: 24px;
  width: 24px;
}

.menubarbtncaption {
  margin-left: 3px;
}
