<ion-input
  #picker
  class="picker"
  type="color"
  (ionChange)="onChange($event.detail.value)"
></ion-input>
<div class="colorpicker" (click)="activate()">
  <div
    class="colorpreview"
    [style.background-color]="activeElement[property]"
  ></div>
  <div class="dropdown">
    <img src="assets/icons/sidebar/dropdown.svg" />
  </div>
</div>
