:host {
  display: flex;
  cursor: pointer;
}

.colorpicker {
  display: flex;
}

.colorpreview {
  height: 24px;
  width: 24px;
  border-radius: 2px;
}

.picker {
  opacity: 0;
  width: 0px;
  height: 0px;
}
