:host {
  display: flex;
}

.content {
  display: flex;
  align-items: center;
}

.value {
  color: #2063ff;
  border-bottom: 2px solid #746654;
  width: 28px;
  text-align: center;
}

.has-focus {
  border-bottom: 2px solid #2063ff !important;
}

.valchangebtn:hover {
  cursor: pointer;
}
