<label *ngIf="label">
  {{ label }}
</label>
<div class="content">
  <div class="valchangebtn" (click)="decreaseVal()">
    <img src="assets/icons/sidebar/decrease.svg" />
  </div>
  <ion-input
    class="ion-no-padding value"
    type="number"
    debounce="300"
    [value]="getDisplayValue()"
    (ionChange)="onChange($event.target.value)"
  >
  </ion-input>
  <div class="valchangebtn" (click)="increaseVal()">
    <img src="assets/icons/sidebar/increase.svg" />
  </div>
</div>
