:host {
  font-size: 12px !important;
  font-family: 'mfoeditorfont';
  position: absolute;
  z-index: 999999;
  display: none;
}

.maincontextmenu {
  padding: 4px;
  background-color: white;
  border: 1px solid #6b7783;
  width: 350px;
}

p.cm-header {
  margin: 5px 0px 7px 0px;
  font-family: 'mfoeditorfontbold';
}

div.cm-entry {
  width: 342px;
  height: 20px;
  display: inline-block;
  margin: 1px;
  cursor: pointer;

  .img-container {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 8px;
    img {
      vertical-align: middle;
    }
  }

  .entry-content {
    width: 300px;
    height: 20px;
    display: inline-block;

    .cm-title {
      display: inline-block;
      width: 230px;
      vertical-align: middle;
    }
    .shortcut {
      display: inline-block;
      width: 70px;
      vertical-align: middle;
    }
  }

  &.disabled {
    opacity: 0.7;
    pointer-events: none;
  }
}
