<!-- contextmenu for edit view -->
<ng-container *ngIf="this.Mode === 0">
  <div class="maincontextmenu">
    <ng-container *ngIf="this.element?.Type.includes('Container', 'Shape')">
      <p class="cm-header">Neues Objekt</p>

      <div
        class="cm-entry"
        *ngIf="this.element?.Type === 'Container'"
        (click)="this.createContainer()"
      >
        <div class="img-container">
          <img src="assets/icons/objects/container_16x16.svg" />
        </div>
        <div class="entry-content">
          <div class="cm-title">Container</div>
          <div class="shortcut">ALT + K</div>
        </div>
      </div>

      <div
        class="cm-entry"
        *ngIf="this.element?.Type === 'Container'"
        (click)="this.createText()"
      >
        <div class="img-container">
          <img src="assets/icons/objects/text_16x16.svg" />
        </div>
        <div class="entry-content">
          <div class="cm-title">Text</div>
          <div class="shortcut">ALT + T</div>
        </div>
      </div>

      <div
        class="cm-entry"
        *ngIf="this.element?.Type === 'Container'"
        (click)="this.createEdit()"
      >
        <div class="img-container">
          <img src="assets/icons/objects/edit_16x16.svg" />
        </div>
        <div class="entry-content">
          <div class="cm-title">Eingabe</div>
          <div class="shortcut">ALT + E</div>
        </div>
      </div>

      <div class="cm-entry" (click)="this.createShape()">
        <div class="img-container">
          <img src="assets/icons/objects/shape_16x16.svg" />
        </div>
        <div class="entry-content">
          <div class="cm-title">Rahmen</div>
          <div class="shortcut">ALT + R</div>
        </div>
      </div>

      <div class="cm-entry" (click)="this.createLine()">
        <div class="img-container">
          <img src="assets/icons/objects/line_16x16.svg" />
        </div>
        <div class="entry-content">
          <div class="cm-title">Linie</div>
          <div class="shortcut">ALT + L</div>
        </div>
      </div>

      <div
        class="cm-entry"
        *ngIf="this.element?.Type === 'Container'"
        (click)="this.createImage()"
      >
        <div class="img-container">
          <img src="assets/icons/objects/image_16x16.svg" />
        </div>
        <div class="entry-content">
          <div class="cm-title">Bild</div>
          <div class="shortcut">ALT + B</div>
        </div>
      </div>

      <div
        class="cm-entry"
        *ngIf="this.element?.Type === 'Container'"
        (click)="this.createMarkField()"
      >
        <div class="img-container">
          <img src="assets/icons/objects/markfield_16x16.svg" />
        </div>
        <div class="entry-content">
          <div class="cm-title">Markierfeld</div>
          <div class="shortcut">ALT + M</div>
        </div>
      </div>
      <div
        class="cm-entry"
        *ngIf="this.element?.Type === 'Container'"
        (click)="this.createCheckBox()"
      >
        <div class="img-container">
          <img src="assets/icons/objects/checkbox_16x16.svg" />
        </div>
        <div class="entry-content">
          <div class="cm-title">Ankreuzfeld</div>
          <div class="shortcut">ALT + C</div>
        </div>
      </div>

      <div
        class="cm-entry"
        *ngIf="this.element?.Type === 'Container'"
        (click)="this.createPainting()"
      >
        <div class="img-container">
          <img src="assets/icons/objects/painting_16x16.svg" />
        </div>
        <div class="entry-content">
          <div class="cm-title">Zeichenfeld</div>
          <div class="shortcut">ALT + Z</div>
        </div>
      </div>

      <div
        class="cm-entry"
        *ngIf="this.element?.Type === 'Container'"
        (click)="this.createBarcode()"
      >
        <div class="img-container">
          <img src="assets/icons/objects/barcode_16x16.svg" />
        </div>
        <div class="entry-content">
          <div class="cm-title">Barcode</div>
          <div class="shortcut">ALT + Q</div>
        </div>
      </div>

      <div
        class="cm-entry"
        *ngIf="this.element?.Type === 'Container'"
        (click)="this.createSignField()"
      >
        <div class="img-container">
          <img src="assets/icons/objects/signfield_16x16.svg" />
        </div>
        <div class="entry-content">
          <div class="cm-title">Unterschrift</div>
          <div class="shortcut">ALT + U</div>
        </div>
      </div>
    </ng-container>

    <p class="cm-header">Position</p>
    <div class="cm-entry" (click)="this.toFront()">
      <div class="img-container">
        <img
          src="assets/icons/objects/toFront_16x16.svg"
          *ngIf="!this.elementIsPage"
        />
        <img
          src="assets/icons/objects/firstPage_16x16.svg"
          *ngIf="this.elementIsPage"
        />
      </div>
      <div class="entry-content">
        <div class="cm-title">{{
          this.elementIsPage ? 'Als erste Seite' : 'Objekt in den Vordergrund'
        }}</div>
        <div class="shortcut">SHIFT + H</div>
      </div>
    </div>
    <div class="cm-entry" (click)="this.toBack()">
      <div class="img-container">
        <img
          src="assets/icons/objects/toBackground_16x16.svg"
          *ngIf="!this.elementIsPage"
        />
        <img
          src="assets/icons/objects/lastPage_16x16.svg"
          *ngIf="this.elementIsPage"
        />
      </div>
      <div class="entry-content">
        <div class="cm-title">{{
          this.elementIsPage ? 'Als letzte Seite' : 'Objekt in den Hintergrund'
        }}</div>
        <div class="shortcut">SHIFT + V</div>
      </div>
    </div>

    <p class="cm-header">Bearbeiten</p>
    <div class="cm-entry" (click)="this.cut()">
      <div class="img-container">
        <img src="assets/icons/objects/cut_16x16.svg" />
      </div>
      <div class="entry-content">
        <div class="cm-title"
          >{{ this.elementIsPage ? 'Seite' : 'Objekt' }} ausschneiden</div
        >
        <div class="shortcut">STRG + X</div>
      </div>
    </div>
    <div class="cm-entry" (click)="this.copy()">
      <div class="img-container">
        <img src="assets/icons/objects/copy_16x16.svg" />
      </div>
      <div class="entry-content">
        <div class="cm-title">Kopieren</div>
        <div class="shortcut">STRG + C</div>
      </div>
    </div>
    <div class="cm-entry" (click)="this.delete()">
      <div class="img-container">
        <img src="assets/icons/objects/delete_16x16.svg" />
      </div>
      <div class="entry-content">
        <div class="cm-title"
          >{{ this.elementIsPage ? 'Seite' : 'Objekt' }} löschen</div
        >
        <div class="shortcut">SHIFT + DEL</div>
      </div>
    </div>
    <div
      class="cm-entry"
      (click)="this.paste()"
      [class.disabled]="!(this.copied || this.cutted)"
    >
      <div class="img-container">
        <img src="assets/icons/objects/paste_16x16.svg" />
      </div>
      <div class="entry-content">
        <div class="cm-title">{{
          this.elementIsPage ? 'Seite einfügen (am Ende)' : 'Objekt einfügen'
        }}</div>
        <div class="shortcut">STRG + V</div>
      </div>
    </div>

    <ng-container *ngIf="element?.Type === 'Container'">
      <div class="cm-entry" (click)="objectInput.click()">
        <div class="img-container">
          <img src="assets/icons/objects/containerImport_16x16.svg" />
        </div>
        <div class="entry-content">
          <div class="cm-title">Container laden</div>
          <div class="shortcut"></div>
        </div>
      </div>
      <div class="cm-entry" (click)="export.emit('Object')">
        <div class="img-container">
          <img src="assets/icons/objects/containerSave_16x16.svg" />
        </div>
        <div class="entry-content">
          <div class="cm-title">Container sichern</div>
          <div class="shortcut"></div>
        </div>
      </div>
    </ng-container>
  </div>
  <input
    type="file"
    accept=".obj"
    #objectInput
    (change)="importObject()"
    [style.display]="'none'"
  />
</ng-container>
