<!-- borders -->
<ng-container *ngIf="this.Mode === 0">
  <div [class.page]="isPage()">
    <div
      id="border-top"
      (mousedown)="onMouseDown($event, 'position', '')"
    ></div>
    <div
      id="border-right"
      (mousedown)="onMouseDown($event, 'position', '')"
    ></div>
    <div
      id="border-bottom"
      (mousedown)="onMouseDown($event, 'position', '')"
    ></div>
    <div
      id="border-left"
      (mousedown)="onMouseDown($event, 'position', '')"
    ></div>
  </div>

  <!-- reseize dots -->
  <div *ngIf="!isPage()">
    <div
      id="dot-top-left"
      (mousedown)="onMouseDown($event, 'size', 'top-left')"
    ></div>
    <div
      id="dot-top-right"
      (mousedown)="onMouseDown($event, 'size', 'top-right')"
    ></div>
    <div
      id="dot-bottom-left"
      (mousedown)="onMouseDown($event, 'size', 'bottom-left')"
    ></div>
    <div
      id="dot-bottom-right"
      (mousedown)="onMouseDown($event, 'size', 'bottom-right')"
    ></div>
    <div id="dot-top" (mousedown)="onMouseDown($event, 'size', 'top')"></div>
    <div
      id="dot-right"
      (mousedown)="onMouseDown($event, 'size', 'right')"
    ></div>
    <div
      id="dot-bottom"
      (mousedown)="onMouseDown($event, 'size', 'bottom')"
    ></div>
    <div id="dot-left" (mousedown)="onMouseDown($event, 'size', 'left')"></div>
  </div>
</ng-container>
