:host {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
  pointer-events: none;
}

#dot-top,
#dot-right,
#dot-bottom,
#dot-left,
#dot-top-left,
#dot-top-right,
#dot-bottom-left,
#dot-bottom-right {
  width: 6px;
  height: 6px;
  background-color: black;
  position: absolute;
  pointer-events: auto;
}

#dot-top-left,
#dot-top-right,
#dot-top {
  top: -4px;
}

#dot-bottom-left,
#dot-bottom-right,
#dot-bottom {
  bottom: -4px;
}

#dot-top-left,
#dot-bottom-left,
#dot-left {
  left: -4px;
}

#dot-top-right,
#dot-bottom-right,
#dot-right {
  right: -4px;
}

#dot-left,
#dot-right {
  top: calc(50% - 3px);
}

#dot-top,
#dot-bottom {
  left: calc(50% - 3px);
}

#dot-left:hover,
#dot-right:hover {
  cursor: ew-resize;
}

#dot-top:hover,
#dot-bottom:hover {
  cursor: ns-resize;
}

#dot-bottom-right,
#dot-top-left {
  cursor: nw-resize;
}

#dot-bottom-left,
#dot-top-right {
  cursor: ne-resize;
}

#border-top,
#border-right,
#border-bottom,
#border-left {
  position: absolute;
  pointer-events: auto;

  &:hover {
    cursor: move;
  }
}
.page #border-top,
#border-right,
#border-bottom,
#border-left {
  &:hover {
    cursor: default;
  }
}

#border-top {
  top: -2px;
  left: -2px;
  right: -2px;
  height: 4px;
  border-top: 1px solid red;
}

#border-bottom {
  bottom: -2px;
  left: -2px;
  right: -2px;
  height: 4px;
  border-bottom: 1px solid red;
}

#border-right {
  right: -2px;
  top: -2px;
  bottom: -2px;
  width: 4px;
  border-right: 1px solid red;
}

#border-left {
  left: -2px;
  top: -2px;
  bottom: -2px;
  width: 4px;
  border-left: 1px solid red;
}
