<ion-list (mouseleave)="onMouseLeave()">
  <ion-item
    (click)="chooseNone()"
    [class.choosenItemDataBinding]="choosenTopic === ''"
    >&lt;ohne&gt;</ion-item
  >
  <ion-item
    *ngFor="let entry of keys"
    [class.choosenItemDataBinding]="entry === choosenTopic"
    (mouseover)="openMousePopover($event, entry)"
    (mouseleave)="onMouseLeave()"
    (click)="openPopover($event, entry)"
  >
    <ion-icon name="chevron-back" slot="start"></ion-icon>
    {{ entry }}
  </ion-item>
</ion-list>
