<ion-list>
  <ion-item
    lines="full"
    *ngFor="let item of items"
    [class.choosenItemDataBinding]="item.name === choosenItem && isChoosenTopic"
    (click)="chooseItem(item)"
  >
    {{ item.name }}
  </ion-item>
  <ng-container *ngIf="extras.length > 0">
    <ion-item-divider class="extradivider"></ion-item-divider>
    <ion-item
      lines="full"
      *ngFor="let extra of extras"
      [class.choosenItemDataBinding]="
        extra.name === choosenItem && isChoosenTopic
      "
      (click)="chooseItem(extra)"
    >
      {{ extra.name }}
    </ion-item>
  </ng-container>
</ion-list>
