<ng-template #Input let-data="data" let-path="path" let-index="index">
  <mfo-edit [element]="data" [path]="path + '.Children.' + index" [Mode]="Mode">
  </mfo-edit>
</ng-template>

<ng-template #Container let-data="data" let-path="path" let-index="index">
  <mfo-container
    [element]="data"
    [path]="this.path + '.Children.' + index"
    [Mode]="Mode"
  >
  </mfo-container>
</ng-template>

<ng-template #Shape let-data="data" let-path="path" let-index="index">
  <mfo-shape
    [element]="data"
    [path]="this.path + '.Children.' + index"
    [Mode]="Mode"
  >
  </mfo-shape>
</ng-template>

<ng-template #Barcode let-data="data" let-path="path" let-index="index">
  <mfo-barcode
    [element]="data"
    [path]="this.path + '.Children.' + index"
    [Mode]="Mode"
  >
  </mfo-barcode>
</ng-template>

<ng-template #Line let-data="data" let-path="path" let-index="index">
  <mfo-line
    [element]="data"
    [path]="this.path + '.Children.' + index"
    [Mode]="Mode"
    [width]="this.element.Width"
    [height]="this.element.Height"
  >
  </mfo-line>
</ng-template>

<ng-template #Text let-data="data" let-path="path" let-index="index">
  <mfo-text [element]="data" [path]="path + '.Children.' + index" [Mode]="Mode">
  </mfo-text>
</ng-template>

<ng-template #MarkField let-data="data" let-path="path" let-index="index">
  <mfo-markfield
    [element]="data"
    [path]="this.path + '.Children.' + index"
    [Mode]="Mode"
  ></mfo-markfield>
</ng-template>

<ng-template #Painting let-data="data" let-path="path" let-index="index">
  <mfo-paint
    [element]="data"
    [path]="this.path + '.Children.' + index"
    [Mode]="Mode"
  ></mfo-paint>
</ng-template>

<ng-template #CheckBox let-data="data" let-path="path" let-index="index">
  <mfo-checkbox
    [element]="data"
    [path]="path + '.Children.' + index"
    [Mode]="Mode"
  ></mfo-checkbox>
</ng-template>

<ng-template #Image let-data="data" let-path="path" let-index="index">
  <mfo-image
    [element]="data"
    [path]="this.path + '.Children.' + index"
    [Mode]="Mode"
  >
  </mfo-image>
</ng-template>

<ng-template #SignField let-data="data" let-path="path" let-index="index">
  <mfo-signfield
    [element]="data"
    [path]="this.path + '.Children.' + index"
    [Mode]="Mode"
  >
  </mfo-signfield>
</ng-template>

<ng-container *ngFor="let child of this.element.Children; let index = index">
  <ng-container
    [ngTemplateOutlet]="this[child.Type]"
    [ngTemplateOutletContext]="{ data: child, path: this.path, index: index }"
  >
  </ng-container>
</ng-container>

<mfo-active
  *ngIf="this.element.IsSelected"
  [element]="this.element"
  [Mode]="Mode"
></mfo-active>
