<div id="header">
  {{ title.toUpperCase() }}
  <div class="closeBtn" (click)="close()"></div>
</div>

<textarea [(ngModel)]="value"></textarea>

<button (click)="confirm()" class="confirmBtn">Speichern</button>
