:host {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 2px solid #6b7783;
  opacity: 1;
  padding: 6px 12px 8px 10px;
}
textarea {
  width: 100%;
  height: 275px;
  background-color: white;
  text-align: left;
  letter-spacing: 0.65px;
  color: #3264fa;
  opacity: 1;
  font-family: 'mfoeditorfont';
  font-size: 13px;
  border-bottom: 2px solid #c2c9d0;
  margin-top: 16px;
  border-left: none;
  border-top: none;
  border-right: none;
  resize: none;
  margin-bottom: 13px;
  &:focus {
    outline: none;
  }
  &::placeholder {
    color: #3264fa;
  }
}
.confirmBtn {
  width: auto;
  height: 35px;
  line-height: 35px;
  display: flex;
  margin-right: 0px;
  margin-left: auto;
  background: transparent;
  background-color: #94bcff;
  font-family: 'mfoeditorfontbold';
  font-size: 14.67px;
  color: #47515b;
  letter-spacing: 0.15px;
  opacity: 1;
  border-radius: 3px;
  padding: 0 10px 0 12.5px;
}
.closeBtn {
  width: 11px;
  height: 11px;
  background-size: cover;
  display: flex;
  margin-right: 0;
  margin-left: auto;
  background: url(/assets/icons/input-modal/close.svg);
  &:hover {
    cursor: pointer;
  }
}
#header {
  display: flex;
  text-align: left;
  font-size: 12px;
  font-family: 'mfoeditorfont';
  letter-spacing: 0.6px;
  color: #6b7783;
}
