:host {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: white;
  user-select: none;
}

ion-grid {
  margin: 0 !important;
  padding: 0 !important;
  display: flex;
  flex-flow: column;
}

ion-col {
  margin: 0 !important;
  padding: 0 !important;
}

.mainrowEditView {
  width: calc(100% - 312px);
}

.mainrow {
  width: 100%;
}

#maincolumn {
  display: flex;
}

#toolbar-column {
  display: inline;
  width: 60px;
  min-width: 60px;
  max-width: 60px;
}

// TODO set back to 100%
#editor-column {
  display: inline;
  // width: calc(100% - 85px);
  padding-right: 5px;
  width: 100%;
  height: 100%;
}

#sidebar-column {
  display: inline;
  width: 305px;
  min-width: 305px;
  max-width: 305px;
  background-color: #fffbe8;
  height: 100vh !important;
  margin: 7px !important;
}

#menubar-row {
  height: 40px;
  max-height: 47px;

  #sidebar-column {
    flex: 2;
  }
}

.treeview {
  overflow: scroll !important;
  height: 100vh;
}

svg {
  width: 16px;
  height: 16px;

  fill: none;
  stroke: black;

  stroke-linecap: round;

  stroke-width: 50px;
}
.printView {
  display: none !important;
}
