<svg id="symbols" aria-hidden="true" focusable="false" [style.display]="'none'">
  <symbol id="icon-close" viewBox="0 0 512 512">
    <line x1="368" y1="368" x2="144" y2="144" />
    <line x1="368" y1="144" x2="144" y2="368" />
  </symbol>

  <symbol id="icon-left" viewBox="0 0 512 512">
    <polyline points="244 400 100 256 244 112" />
    <line x1="120" y1="256" x2="412" y2="256" />
  </symbol>

  <symbol id="icon-right" viewBox="0 0 512 512">
    <polyline points="268 112 412 256 268 400" />
    <line x1="392" y1="256" x2="100" y2="256" />
  </symbol>

  <symbol id="icon-add" viewBox="0 0 512 512">
    <line x1="256" y1="112" x2="256" y2="400" />
    <line x1="400" y1="256" x2="112" y2="256" />
  </symbol>
</svg>

<ion-grid class="wrapper">
  <ion-row id="menubar-row" class="noprint">
    <ion-col>
      <menubar
        [Mode]="Mode"
        [FormularOptions]="mfo?.FormularOptions"
        [activeElement]="mfo?.activeElement"
        [MFO]="this.mfo"
        (export)="export($event)"
        (import)="import($event)"
      ></menubar>
      <!-- TODO find correct place for action -->
      <input
        style="position: absolute; top: 0; right: 30%"
        type="button"
        value="Druckvorschau"
        (click)="changeViewMode(2)"
      />
    </ion-col>
    <ion-col id="sidebar-column" row-span="2" [class.printView]="Mode != 0">
      <div *ngIf="this.config.has(1)">History</div>
      <sidebar
        [Mode]="this.Mode"
        [FormularOptions]="mfo?.FormularOptions"
        (export)="export($event)"
        (import)="import($event)"
      ></sidebar>
      <div *ngIf="this.config.has(2)">Editorconfig</div>
    </ion-col>
  </ion-row>
  <!-- TODO remove width -->
  <ion-row
    id="mainrow"
    [class.mainrowEditView]="Mode == 0"
    [class.mainrow]="Mode > 0"
  >
    <ion-col id="maincolumn">
      <div id="toolbar-column" [class.printView]="Mode != 0">
        <toolbar
          [MFO]="this.mfo"
          (ButtonToggled)="toolbarActivated($event)"
        ></toolbar>
        <ion-grid
          style="max-height: 100vh; height: 100vh; overflow: scroll"
          *ngIf="showTreeview"
        >
          <ion-row>
            <ion-col></ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <treeview width="100px"> </treeview>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <!-- TODO remove width -->
      <div
        id="editor-column"
        [style.width]="this.Mode != 0 ? '100% !important' : ''"
      >
        <ion-grid style="height: 100%">
          <ion-row [class.printView]="this.Mode === 2">
            <ion-col>
              <tabbar
                *ngIf="this.mfo && this.Mode != 2"
                [Mode]="this.Mode"
                (addPageFunction)="this.addPage()"
                (removePageFunction)="this.removePage()"
              >
                <ng-container
                  *ngFor="let page of this.mfo.Pages; index as index"
                >
                  <tab
                    [active]="page.IsActive"
                    [caption]="'Seite ' + (index + 1)"
                    (mousedown)="this.handleTabClick(page, $event)"
                  >
                  </tab>
                </ng-container>
              </tabbar>
            </ion-col>
          </ion-row>
          <ion-row
            style="
              border-left: 1px solid grey;
              border-right: 1px solid grey;
              background-color: lightgray;
              flex-grow: 1;
            "
          >
            <ion-col>
              <mfo-viewer
                [Mode]="this.Mode"
                (activate)="
                  setActiveElement($event) && this.contextMenuComponent.hide()
                "
                (context)="this.contextMenu($event)"
              ></mfo-viewer>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>

<mfo-contextmenu
  [Mode]="this.Mode"
  (imageUpload)="imageUpload($event)"
  (export)="export($event)"
  (import)="import($event)"
></mfo-contextmenu>

<mfo-contextmenu-interactive></mfo-contextmenu-interactive>

<div id="calendar_input"></div>
