ul {
  margin: 0;
  padding-left: 16px;

  & > li {
    list-style: none;
    position: relative;

    &::before {
      content: '┣';
      position: absolute;
      left: -16px;
      top: -6px;
      width: 16px;
      height: 16px;
    }

    &:last-of-type::before {
      content: '┗';
      position: absolute;
      left: -16px;
      top: -6px;
      width: 16px;
      height: 16px;
    }

    &.active::before {
      content: '┗' !important;
      position: absolute;
      left: -16px;
      top: -6px;
      width: 16px;
      height: 16px;
    }
  }
}

.active {
  & > div {
    background-color: grey;
  }

  & :has(.active) {
    background-color: red !important;
  }
}

li:not(:has(li)) {
  background-color: green !important;
}

.headline {
  display: flex;
  flex-direction: row;
  align-items: center;

  & > * {
    display: flex;
    align-items: center;
  }
}
.typeicon {
  width: 16px;
  height: 16px;
}
