<ng-container
  *ngTemplateOutlet="
    treeviewTemplate;
    context: { elements: mfo?.Pages, isFirstLevel: true, path: 'Pages.' }
  "
>
</ng-container>

<ng-template
  #treeviewTemplate
  let-elements="elements"
  let-isFirstLevel="isFirstLevel"
  let-path="path"
>
  <ul>
    <li
      #reference
      *ngFor="let element of elements; index as i"
      [ngClass]="{
        selectable: element.Children?.length,
        active: element.IsSelected
      }"
    >
      <div
        [ngClass]="{
          headline: true
        }"
        (click)="this.selectElement(path + i)"
      >
        <img src="/assets/icons/{{ element.Type }}.png" class="typeicon" />
        <span>
          {{
            isFirstLevel
              ? element.Title || 'Seite ' + (i + 1)
              : element.Title || element.Type
          }}
        </span>
      </div>
      <ng-container *ngIf="element.IsSelected">
        <ng-container
          *ngTemplateOutlet="
            treeviewTemplate;
            context: {
              elements: element.Children,
              path: path + i + '.Children.'
            }
          "
        >
        </ng-container>
      </ng-container>
    </li>
  </ul>
</ng-template>
