<div class="comboboxdiv">
  <div class="openpopovercontent" (click)="openSelectPopover($event)">
    <ng-container *ngIf="type === 'fieldtype'">
      <div class="caption">
        {{ this.getFieldType() }}
      </div>
    </ng-container>
    <ng-container *ngIf="type === ''">
      <div class="caption">
        {{
          activeElement[property] !== undefined
            ? activeElement[property]
            : default !== undefined
            ? default
            : ''
        }}
      </div>
    </ng-container>
    <div class="dropdownbtn">
      <img src="assets/icons/sidebar/dropdown.svg" />
    </div>
  </div>
  <div
    *ngIf="showEditButton"
    class="btn"
    (click)="this.openTextareaFunction.emit()"
  >
    <img src="assets/icons/sidebar/edit.svg" />
  </div>
</div>
