<div *ngIf="this.element.IsDoubleClicked && Mode != 2; else RawText">
  <input
    #EditText
    *ngIf="!this.element.Multiline; else Multiline"
    [type]="this.element.Number ? 'number' : 'text'"
    (blur)="this.blur($event)"
    [(ngModel)]="this.element.Text"
    [style.textDecoration]="this.hostRef.nativeElement.style.textDecoration"
  />
</div>
<ng-template #RawText>
  <!-- prettier-ignore -->
  <p #P [style.textDecoration]="this.hostRef.nativeElement.style.textDecoration">{{this.Mode != 2 ? this.element.Text : getText()}}</p>
</ng-template>
<ng-template #Multiline>
  <textarea
    #EditText
    (blur)="this.blur($event)"
    [(ngModel)]="this.element.Text"
    [style.textDecoration]="this.hostRef.nativeElement.style.textDecoration"
  >
  </textarea>
</ng-template>

<mfo-active
  *ngIf="this.element.IsSelected"
  [element]="this.element"
  [Mode]="Mode"
></mfo-active>
