:host {
  width: 24px;
  height: 24px;
  display: flex;
  cursor: pointer;
}

.togglebtn {
  height: 100%;
  width: 100%;
}

.active {
  background-color: #dcd5cb;
  border-radius: 2px;
}
