<ng-container [ngTemplateOutlet]="this[this.element?.BarcodeType] || this.QR">
</ng-container>

<mfo-active
  *ngIf="this.element.IsSelected"
  [element]="this.element"
  [Mode]="this.Mode"
>
</mfo-active>

<ng-template #QR *ngIf="element.Text.length">
  <ngx-qrcode
    [elementType]="'img'"
    [value]="this.Mode != 2 ? this.element.Text : getText()"
    cssClass="qrc"
    errorCorrectionLevel="L"
  >
  </ngx-qrcode>
</ng-template>

<ng-template #PDF417>
  <pdf417barcode
    [text]="this.Mode != 2 ? this.element.Text : getText()"
    class="qrc"
  >
  </pdf417barcode>
</ng-template>
