#toolbar {
  background-color: #f2f4f6;
  margin: 7px 3px 0px 7px;
  height: 100%;

  div {
    cursor: pointer;
    display: block;
    width: 39px;
    height: 39px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  div:nth-child(2n) {
    margin-top: 10px;
  }

  .toggled {
    background-color: #d2d4d6;
  }

  ion-list {
    width: 57px;
    text-align: center;
  }
}
