<ion-list lines="none" id="toolbar">
  <div [class.toggled]="this.toggled === 'text'" (click)="createText($event)">
    <img src="assets/icons/objects/text.svg" />
  </div>

  <div [class.toggled]="this.toggled === 'input'" (click)="createEdit($event)">
    <img src="assets/icons/objects/input.svg" />
  </div>

  <div [class.toggled]="this.toggled === 'image'" (click)="createImage($event)">
    <img src="assets/icons/objects/image.svg" />
  </div>

  <div
    [class.toggled]="this.toggled === 'container'"
    (click)="createContainer($event)"
  >
    <img src="assets/icons/objects/container.svg" />
  </div>

  <div [class.toggled]="this.toggled === 'line'" (click)="createLine($event)">
    <img src="assets/icons/objects/line.svg" />
  </div>

  <div [class.toggled]="this.toggled === 'shape'" (click)="createShape($event)">
    <img src="assets/icons/objects/shape.svg" />
  </div>

  <div
    [class.toggled]="this.toggled === 'checkbox'"
    (click)="createCheckBox($event)"
  >
    <img src="assets/icons/objects/checkbox.svg" />
  </div>

  <div
    [class.toggled]="this.toggled === 'markfield'"
    (click)="createMarkField($event)"
  >
    <img src="assets/icons/objects/markfield.svg" />
  </div>

  <div
    [class.toggled]="this.toggled === 'painting'"
    (click)="createPainting($event)"
  >
    <img src="assets/icons/objects/painting.svg" />
  </div>

  <div
    [class.toggled]="this.toggled === 'barcode'"
    (click)="createBarcode($event)"
  >
    <img src="assets/icons/objects/barcode.svg" />
  </div>

  <div
    [class.toggled]="this.toggled === 'signfield'"
    (click)="createSignField($event)"
  >
    <img src="assets/icons/objects/signature.svg" />
  </div>
</ion-list>
