<div
  id="tabs"
  #tabs
  (mousedown)="this.dragStart($event)"
  (mouseup)="this.dragStop()"
  (mouseleave)="this.dragStop()"
  (mousemove)="this.tryDragging($event)"
>
  <ng-content></ng-content>
</div>
<div class="tabactionbar">
  <div class="btn" (click)="this.scrollTabs(-40)">
    <img src="assets/icons/tabbar/backwardarrow.svg" />
  </div>
  <div class="btn" (click)="this.scrollTabs(40)">
    <img src="assets/icons/tabbar/forwardarrow.svg" />
  </div>
  <div class="btn" (click)="addPage()" *ngIf="this.Mode == 0">
    <img src="assets/icons/tabbar/add.svg" />
  </div>
  <div class="btn" (click)="removePage()" *ngIf="this.Mode == 0">
    <img src="assets/icons/tabbar/remove.svg" />
  </div>
</div>
