:host {
  display: flex;
  height: 26px;
  background-color: #f2f4f6;
  margin-top: 7px;
  margin-bottom: 1px;
  font-size: 12px;
  font-family: 'mfoeditorfont';
  color: #616a7c;
  letter-spacing: 0.33px;
  overflow: hidden;
  width: 100%;
}

#tabs {
  display: flex;
  width: calc(100% - 60px);
  overflow: hidden;
}

.tabactionbar {
  display: flex;
  margin-left: auto;
  margin-right: 5px;
  align-items: center;

  .btn {
    height: 16px;
    width: 16px;
    cursor: pointer;
    margin: 0 2px;
  }
}
