:host {
  font-size: 0.8em;
  font-family: 'mfoeditorfont';
  margin-top: 7px;
}

ion-grid {
  margin: 0;
  padding: 0;
}

ion-col {
  padding: 0;
  //display: flex !important;
  align-items: center !important;
}

// ion-row {
//   background: var(--ion-color-light);

//   &:nth-of-type(2n) {
//     background: var(--ion-color-light-shade);
//   }
// }

.FontStyle {
  display: block;
}

.colorDisplay {
  height: 12px;
  width: 12px;
}

ion-input {
  border: none;
  min-height: 32px;
  width: 100%;
  height: 100%;

  --padding-start: 0;
  --padding-top: 0;
  --padding-bottom: 0;

  &:focus {
    outline: none;
  }

  &.has-focus {
    --background: var(--ion-color-light-tint) !important;
  }
}

.sidebarheadline {
  text-align: center;
  letter-spacing: 1.43px;
  color: #766552;
  opacity: 1;
  font-size: 19px;
  padding-top: 8px;
  padding-bottom: 7px;
}

.sidebarproperties {
  margin-left: 13px;
}

.multiplepropertiesgrid {
  margin-top: 17px !important;

  ion-row {
    ion-col:nth-child(2n) {
      margin-left: 10px;
    }
  }
}
