<ion-grid *ngIf="this.activeElement && false">
  <ng-container
    *ngFor="let property of this.environment.sidebar; trackBy: trackByFn"
  >
    <ion-row *ngIf="this.activeElement.hasOwnProperty(property)">
      <ng-container
        [ngTemplateOutlet]="this[property]"
        [ngTemplateOutletContext]="{
          property: property
        }"
      >
      </ng-container>
    </ion-row>
  </ng-container>

  <ion-row *ngIf="this.activeElement.Type === 'CheckBox'">
    <ion-col>Gruppe</ion-col>
    <ion-col>
      <input type="number" [(ngModel)]="this.activeElement.GroupIndex" />
    </ion-col>
  </ion-row>

  <ion-row *ngIf="this.activeElement.Type === 'CheckBox'">
    <ion-col>IsChecked</ion-col>
    <ion-col>
      <input type="checkbox" [(ngModel)]="this.activeElement.IsChecked" />
    </ion-col>
  </ion-row>

  <!-- Databinding -->
  <ion-row
    *ngIf="
      this.activeElement.Type === 'Input' || this.activeElement.Type === 'Text'
    "
  >
    <ion-col>Datenbindung:</ion-col>
    <ion-col>
      <databinding-select
        [activeElement]="this.activeElement"
        [data]="dataBinding.data"
      ></databinding-select>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="this.activeElement.Type === 'Input'">
    <ion-col>Vorbelegung:</ion-col>
    <ion-col>
      <ion-input
        type="text"
        [(ngModel)]="this.activeElement.PreselectionString"
        [style.display]="'inline-block'"
        [style.width]="'80%'"
      ></ion-input>
      <button
        [style.width]="'20%'"
        [style.display]="'inline-block'"
        (click)="this.InputDialog('Vorbelegung', 'PreselectionString')"
      >
        ...
      </button>
      <input type="text" [(ngModel)]="this.activeElement.Preselection" />
    </ion-col>
  </ion-row>

  <!-- TabIndex -->
  <ion-row
    *ngIf="
      this.activeElement?.Type === 'CheckBox' ||
      this.activeElement?.Type === 'Input' ||
      this.activeElement?.Type === 'Text'
    "
  >
    <ion-col>TabIndex</ion-col>
    <ion-col>
      <input type="number" [(ngModel)]="this.activeElement.TabIndex" />
    </ion-col>
  </ion-row>

  <!-- Dateinput -->
  <ion-row *ngIf="this.activeElement.Type === 'Input'">
    <ion-col>Datumsfeld:</ion-col>
    <ion-col>
      <input type="checkbox" [(ngModel)]="this.activeElement.IsDateInput" />
    </ion-col>
  </ion-row>

  <!-- Form input -->
  <ion-row
    *ngIf="
      this.activeElement.Type === 'Input' || this.activeElement.Type === 'Text'
    "
  >
    <ion-col>Formel</ion-col>
    <ion-col>
      <ion-input
        type="text"
        [(ngModel)]="this.activeElement['Formula']"
        [style.display]="'inline-block'"
        [style.width]="'80%'"
        [style.backgroundColor]="'white'"
      >
      </ion-input>
      <button
        [style.width]="'20%'"
        [style.display]="'inline-block'"
        (click)="this.InputDialog('Formel', 'Formula')"
      >
        ...
      </button>
    </ion-col>
  </ion-row>

  <!-- Formel nur bei Neuanlage berechnen -->
  <ion-row
    *ngIf="
      (this.activeElement.Type === 'Input' ||
        this.activeElement.Type === 'Text') &&
      this.activeElement.Formula?.length > 0
    "
  >
    <ion-col>Formel nur bei Neuanlage berechnen</ion-col>
    <ion-col>
      <input type="checkbox" [(ngModel)]="this.activeElement.CalcOnCreation" />
    </ion-col>
  </ion-row>

  <!-- Dateformat -->
  <!-- !only check for IsDateInput is not working! -->
  <ion-row
    *ngIf="
      this.activeElement.Type === 'Input' && this.activeElement.IsDateInput
    "
  >
    <ion-col>Datumsformat:</ion-col>
    <ion-col
      [title]="
        dateFormater.formatDate(
          this.activeElement.DateFormat,
          this.activeElement.Text
        )
      "
    >
      <!--<combobox-simple
        default="DD.MM.YYYY"
        [items]="dateFormater.itemsCombobox"
        [value]="this.activeElement.DateFormat"
        [activeElement]="this.activeElement"
        [property]="'DateFormat'"
        [style.display]="'inline-block'"
        [style.width]="'80%'"
      >
      </combobox-simple>-->
      <button
        [style.width]="'20%'"
        [style.display]="'inline-block'"
        (click)="this.InputDialog('Datumsformat', 'DateFormat')"
      >
        ...
      </button>
    </ion-col>
  </ion-row>


  <ion-row
    *ngIf="
      this.activeElement.Type === 'Input' || this.activeElement.Type === 'Text'
    "
  >
    <ion-col> Auftragskürzel-/typ: </ion-col>
    <ion-col>
      <ion-input
        type="text"
        [(ngModel)]="this.activeElement['DataKind']"
        [style.display]="'inline-block'"
        [style.width]="'80%'"
      ></ion-input>
      <button
        [style.width]="'20%'"
        [style.display]="'inline-block'"
        (click)="this.InputDialog('Auftragskürzel-/typ', 'DataKind')"
      >
        ...
      </button>
    </ion-col>
  </ion-row>


  <ion-row
    *ngIf="
      (this.activeElement.Type === 'Input' ||
        this.activeElement.Type === 'Text') &&
      this.activeElement.DataKind?.length > 0
    "
  >
    <ion-col> Nur Aufträge innerhalb von x Tagen: </ion-col>
    <ion-col>
      <ion-input
        type="number"
        [(ngModel)]="this.activeElement['AssignmentRange']"
      ></ion-input>
    </ion-col>
  </ion-row>

  <ion-row
    <ion-col>TabIndex-Verlinkung auflösen</ion-col>
    <ion-col>
      <input type="button" value="auflösen" (click)="resolveTIClick()" />
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col> </ion-col>
    <ion-col>
      <input
        type="button"
        value="Exportieren"
        (click)="this.export.emit('MFW')"
      />
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col> </ion-col>
    <ion-col>
      <input
        type="button"
        value="Importieren"
        (click)="this.importInput.click()"
      />
    </ion-col>
  </ion-row>
  <input
    type="file"
    accept=".MFO, .MFW"
    #importInput
    (change)="this.import.emit({ File: importInput.files[0], Type: 'MFO' })"
    [style.display]="'none'"
  />
  <ion-row *ngIf="this.activeElement?.Type === 'Container'">
    <input
      type="file"
      accept=".obj"
      #objectInput
      (change)="importObject()"
      [style.display]="'none'"
    />
    <ion-col>
      <input
        type="button"
        value="Container sichern"
        (click)="this.export.emit('Object')"
      />
    </ion-col>
    <ion-col>
      <input
        type="button"
        value="Container laden"
        (click)="this.objectInput.click()"
      />
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col> </ion-col>
    <ion-col>
      <input
        type="button"
        value="Export zu PDF"
        (click)="this.export.emit('PDF')"
      />
    </ion-col>
  </ion-row>
</ion-grid>

<ng-template #Image let-property="property">
  <ion-col>
    {{ translation.General[property] }}
  </ion-col>
  <ion-col>
    <input
      type="file"
      accept="image/*"
      #imageInput
      (change)="changeImage(imageInput.files[0])"
      [style.display]="'none'"
    />
    <button (click)="imageInput.click()">Durchsuchen...</button>
    <button (click)="deleteImg()">Löschen</button>
    {{ imageInput.files[0]?.name }}
  </ion-col>
</ng-template>

<ng-template #Align let-property="property">
  <ion-col> {{ translation.General[property] || '*' + property }}: </ion-col>
  <ion-col> ... </ion-col>
</ng-template>

<ng-template #Connect let-property="property">
  <ion-col> {{ translation.General[property] || '*' + property }}: </ion-col>
  <ion-col>
    <input type="checkbox" [(ngModel)]="this.activeElement.Connect" />
  </ion-col>
</ng-template>

<ng-template #Multiline let-property="property">
  <ion-col> {{ translation.General[property] || '*' + property }}: </ion-col>
  <ion-col>
    <input type="checkbox" [(ngModel)]="this.activeElement.Multiline" />
  </ion-col>
</ng-template>

<ng-template #Number let-property="property">
  <ion-col> {{ translation.General[property] || '*' + property }}: </ion-col>
  <ion-col>
    <input type="checkbox" [(ngModel)]="this.activeElement.Number" />
  </ion-col>
</ng-template>

<ng-template #FontSize let-property="property">
  <ion-col>
    {{ translation.General[property] || property }}
  </ion-col>
  <ion-col>
    <ion-input
      type="number"
      min="1"
      max="64"
      [(ngModel)]="this.activeElement[property]"
    ></ion-input>
  </ion-col>
</ng-template>

<ng-template #BorderColor let-property="property">
  <ion-col> {{ translation.General[property] || '*' + property }}: </ion-col>
  <ion-col>
    <ion-input
      type="color"
      [(ngModel)]="this.activeElement[property]"
    ></ion-input>
    <div *ngIf="this.config.has(4)">Colorpicker</div>
  </ion-col>
</ng-template>

<ng-template #BorderWidth let-property="property">
  <ion-col> {{ translation.General[property] || '*' + property }}: </ion-col>
  <ion-col>
    <ion-input
      type="number"
      min="0"
      max="10"
      [(ngModel)]="this.activeElement[property]"
    ></ion-input>
  </ion-col>
</ng-template>

<ng-template #Color let-property="property">
  <ion-col>
    {{
      this.activeElement?.Type === 'Line'
        ? 'Farbe'
        : translation.General[property] || '*' + property
    }}:
  </ion-col>
  <ion-col>
    <ion-input
      type="color"
      [(ngModel)]="this.activeElement[property]"
    ></ion-input>
    <div *ngIf="this.config.has(4)">Colorpicker</div>
  </ion-col>
</ng-template>

<ng-template #FontCharset let-property="property">
  <ion-col> {{ translation.General[property] || '*' + property }}: </ion-col>
  <ion-col>
    {{ this.activeElement.FontCharset }}
  </ion-col>
</ng-template>

<ng-template #FontColor let-property="property">
  <ion-col>
    {{
      this.activeElement?.Type === 'MarkField'
        ? 'Farbe'
        : translation.General[property] || '*' + property
    }}:
  </ion-col>
  <ion-col>
    <ion-input
      type="color"
      [(ngModel)]="this.activeElement[property]"
    ></ion-input>
    <div *ngIf="this.config.has(4)">Colorpicker</div>
  </ion-col>
</ng-template>

<ng-template #FontFamily let-property="property">
  <ion-col> {{ translation.General[property] || '*' + property }}: </ion-col>
  <ion-col>
    <!-- <combobox [(value)]="this.activeElement[property]">
      <combobox-element
        *ngFor="let font of fontService.FontMapping"
        [value]="font.Family"
      >
        <img src="/assets/fonts/preview/{{ font.Family }}.png" />
      </combobox-element>
    </combobox> -->
  </ion-col>
</ng-template>

<ng-template #FontStyle let-property="property">
  <ion-col> {{ translation.General[property] || '*' + property }}: </ion-col>
  <ion-col>
    <div
      class="FontStyle"
      *ngFor="let styleproperty of this.activeElement.FontStyle | keyvalue"
    >
      <input
        type="checkbox"
        [(ngModel)]="this.activeElement.FontStyle[styleproperty.key]"
      />
      {{ translation.General[styleproperty.key] || 'StrikeOut' }}
    </div>
  </ion-col>
</ng-template>

<ng-template #OffsetX let-property="property">
  <ion-col> {{ translation.General[property] || '*' + property }}: </ion-col>
  <ion-col>
    <ion-input
      type="number"
      min="0"
      max="9999"
      [(ngModel)]="this.activeElement[property]"
    ></ion-input>
  </ion-col>
</ng-template>

<ng-template #OffsetY let-property="property">
  <ion-col> {{ translation.General[property] || '*' + property }}: </ion-col>
  <ion-col>
    <ion-input
      type="number"
      min="0"
      max="9999"
      [(ngModel)]="this.activeElement[property]"
    ></ion-input>
  </ion-col>
</ng-template>

<ng-template #Print let-property="property">
  <ion-col> {{ translation.General[property] || '*' + property }}: </ion-col>
  <ion-col>
    <input type="checkbox" [(ngModel)]="this.activeElement[property]" />
    {{
      this.activeElement.Print
        ? translation.General.Yes
        : translation.General.No
    }}
  </ion-col>
</ng-template>

<ng-template #Text let-property="property">
  <ion-col> {{ translation.General[property] || '*' + property }}: </ion-col>
  <ion-col>
    <ion-input
      type="text"
      [(ngModel)]="this.activeElement[property]"
      [style.display]="'inline-block'"
      [style.width]="'80%'"
    ></ion-input>
    <button
      [style.width]="'20%'"
      [style.display]="'inline-block'"
      (click)="this.InputDialog('Text', 'Text')"
    >
      ...
    </button>
  </ion-col>
</ng-template>

<ng-template #Type let-property="property">
  <ion-col> {{ translation.General[property] || '*' + property }}: </ion-col>
  <ion-col>
    {{ this.activeElement.Type }}
  </ion-col>
</ng-template>

<ng-template #Width let-property="property">
  <ion-col> {{ translation.General[property] || '*' + property }}: </ion-col>
  <ion-col>
    <ion-input
      type="number"
      min="0"
      max="9999"
      [(ngModel)]="this.activeElement[property]"
    ></ion-input>
  </ion-col>
</ng-template>

<ng-template #Height let-property="property">
  <ion-col> {{ translation.General[property] || '*' + property }}: </ion-col>
  <ion-col>
    <ion-input
      type="number"
      min="0"
      max="9999"
      [(ngModel)]="this.activeElement[property]"
    ></ion-input>
  </ion-col>
</ng-template>

<ng-template #X let-property="property">
  <ion-col> {{ translation.General[property] || '*' + property }}: </ion-col>
  <ion-col>
    <ion-input
      type="number"
      min="0"
      max="9999"
      [(ngModel)]="this.activeElement[property]"
    ></ion-input>
  </ion-col>
</ng-template>

<ng-template #X2 let-property="property">
  <ion-col> {{ translation.General[property] || '*' + property }}: </ion-col>
  <ion-col>
    <ion-input
      type="number"
      min="0"
      max="9999"
      [(ngModel)]="this.activeElement[property]"
    ></ion-input>
  </ion-col>
</ng-template>

<ng-template #Y let-property="property">
  <ion-col> {{ translation.General[property] || '*' + property }}: </ion-col>
  <ion-col>
    <ion-input
      type="number"
      min="0"
      max="9999"
      [(ngModel)]="this.activeElement[property]"
    ></ion-input>
  </ion-col>
</ng-template>

<ng-template #Y2 let-property="property">
  <ion-col> {{ translation.General[property] || '*' + property }}: </ion-col>
  <ion-col>
    <ion-input
      type="number"
      min="0"
      max="9999"
      [(ngModel)]="this.activeElement[property]"
    ></ion-input>
  </ion-col>
</ng-template>

<ng-template #BarcodeType let-property="property">
  <ion-col> {{ translation.General[property] || '*' + property }}: </ion-col>
  <ion-col>
    <!-- <combobox [(value)]="this.activeElement[property]">
      <combobox-element [value]="'QR'"> QR </combobox-element>
      <combobox-element [value]="'PDF417'"> PDF417 </combobox-element>
    </combobox> -->
  </ion-col>
</ng-template>

<!-- formularoptions -->
<ng-container *ngIf="FormularOptions && false">
  <ion-row>
    <h4>Formularoptionen // REMOVE ME</h4>
  </ion-row>

  <!-- krankenblattbezeichnung -->
  <ion-row>
    <ion-col> Krankenblattbezeichnung: </ion-col>
    <ion-col>
      <ion-input
        type="text"
        [(ngModel)]="this.FormularOptions.krankenblattbezeichnung"
        [style.display]="'inline-block'"
        [style.width]="'80%'"
      ></ion-input>
      <button
        [style.width]="'20%'"
        [style.display]="'inline-block'"
        (click)="
          this.InputDialog(
            'Krankenblattbezeichnung',
            'krankenblattbezeichnung',
            true
          )
        "
      >
        ...
      </button>
    </ion-col>
  </ion-row>
  <!-- change view mode -->
  <ion-row>
    <ion-col> Aktuelle Ansicht: </ion-col>
    <ion-col>
      {{ this.modes[this.Mode] }}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col></ion-col>
    <ion-col>
      <input
        type="button"
        value="Interaktiv"
        (click)="changeViewModeTrigger(modes.Interactive)"
        [disabled]="this.Mode === modes.Interactive"
      />
      <input
        type="button"
        value="Editor"
        (click)="changeViewModeTrigger(modes.Edit)"
        [disabled]="this.Mode === modes.Edit"
      />
    </ion-col>
  </ion-row>
</ng-container>
