<!-- headline -->
<div class="sidebarheadline">Eigenschaften</div>

<!-- properties -->
<div class="sidebarproperties" *ngIf="this.activeElement">
  <ion-grid class="multiplepropertiesgrid">
    <ion-row>
      <ion-col>
        <!-- type of activeElement -->
        <sb-item caption="objekttyp">
          <sb-text>
            {{ this.activeElement.Type }}
          </sb-text>
        </sb-item>
      </ion-col>
      <ion-col>
        <!-- tabindex -->
        <ng-container *ngIf="displayProperty('TabIndex')">
          <sb-item caption="tabindex">
            <sb-number-input
              [activeElement]="activeElement"
              property="TabIndex"
            ></sb-number-input>
          </sb-item>
        </ng-container>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- position and size -->
  <sb-item class="margintop17" caption="position und grösse" *ngIf="!isPage()">
    <!-- position X -->
    <sb-number-input
      label="X"
      [activeElement]="this.activeElement"
      property="X"
    ></sb-number-input>

    <!-- position y -->
    <sb-number-input
      class="marginleft5"
      label="Y"
      [activeElement]="this.activeElement"
      property="Y"
    ></sb-number-input>

    <!-- width -->
    <sb-number-input
      class="marginleft10"
      label="B"
      [activeElement]="this.activeElement"
      property="Width"
    ></sb-number-input>

    <!-- height -->
    <ng-container *ngIf="displayProperty('Height')">
      <sb-number-input
        class="marginleft5"
        label="H"
        [activeElement]="this.activeElement"
        property="Height"
      ></sb-number-input>
    </ng-container>
  </sb-item>

  <!-- LineExtraPos -->
  <ng-container *ngIf="displayProperty('LineExtraPos')">
    <sb-item caption="">
      <!-- position X2 -->
      <sb-number-input
        label="X2"
        [activeElement]="this.activeElement"
        property="X2"
      ></sb-number-input>
      <!-- position y2 -->
      <sb-number-input
        class="marginleft5"
        label="Y2"
        [activeElement]="this.activeElement"
        property="Y2"
      ></sb-number-input>
    </sb-item>
  </ng-container>

  <!-- visible in print -->
  <ng-container *ngIf="displayProperty('Print')">
    <sb-item class="margintop17" caption="im druck sichtbar">
      <sb-checkbox
        [activeElement]="this.activeElement"
        property="Print"
      ></sb-checkbox>
    </sb-item>
  </ng-container>

  <!-- CheckboxOptions -->
  <ng-container *ngIf="displayProperty('CheckboxOptions')">
    <ion-grid class="multiplepropertiesgrid">
      <ion-row>
        <ion-col>
          <!-- IsChecked -->
          <sb-item class="margintop17" caption="angekreuzt">
            <sb-checkbox
              [activeElement]="this.activeElement"
              property="IsChecked"
            >
            </sb-checkbox>
          </sb-item>
        </ion-col>
        <ion-col>
          <!-- GroupIndex -->

          <sb-item class="margintop17" caption="gruppierungsindex">
            <sb-number-input
              [activeElement]="this.activeElement"
              property="GroupIndex"
            ></sb-number-input>
          </sb-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>

  <!-- backgroundcolor -->
  <ng-container *ngIf="displayProperty('BackgroundColor')">
    <sb-item
      class="margintop17"
      [caption]="activeElement.Type === 'Line' ? 'farbe' : 'hintergrundfarbe'"
    >
      <sb-color-picker
        [activeElement]="activeElement"
        property="Color"
      ></sb-color-picker>
    </sb-item>
  </ng-container>

  <!-- borderproperties -->
  <ng-container *ngIf="displayProperty('Border') && !isPage()">
    <ion-grid class="multiplepropertiesgrid">
      <ion-row>
        <ion-col>
          <!-- borderwidth -->
          <sb-item caption="rahmenbreite">
            <sb-number-input
              [activeElement]="activeElement"
              property="BorderWidth"
            >
            </sb-number-input>
          </sb-item>
        </ion-col>
        <ion-col>
          <!-- bordercolor -->
          <sb-item caption="rahmenfarbe">
            <sb-color-picker
              [activeElement]="activeElement"
              property="BorderColor"
            ></sb-color-picker>
          </sb-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>

  <!-- number value for checkboxes if checked -->
  <ng-container *ngIf="displayProperty('CheckboxOptions')">
    <sb-item class="margintop17" caption="wert für formel, wenn aktiv">
      <sb-number-input [activeElement]="activeElement" property="NumValue">
      </sb-number-input>
    </sb-item>
  </ng-container>

  <!-- font -->
  <ng-container *ngIf="displayProperty('Font')">
    <sb-item class="margintop17" caption="schriftart">
      <sb-combobox
        [activeElement]="activeElement"
        property="FontFamily"
        [items]="this.fontService.FontMapping"
        captionvalue="Family"
      >
      </sb-combobox>
    </sb-item>

    <!-- fontproperties -->
    <ion-grid class="multiplepropertiesgrid">
      <ion-row>
        <ion-col>
          <!-- fontsize -->
          <sb-item caption="schriftgrösse">
            <sb-number-input
              [activeElement]="activeElement"
              property="FontSize"
            ></sb-number-input>
          </sb-item>
        </ion-col>
        <ion-col>
          <!-- fontweight -->
          <sb-item caption="schriftstil">
            <!-- bold -->
            <sb-toggle-button
              [activeElement]="activeElement"
              property="FontStyleBold"
              imageSrc="assets/icons/sidebar/font_bold.svg"
            ></sb-toggle-button>

            <!-- italic -->
            <sb-toggle-button
              [activeElement]="activeElement"
              property="FontStyleItalic"
              imageSrc="assets/icons/sidebar/font_italic.svg"
            ></sb-toggle-button>

            <!-- underline -->
            <sb-toggle-button
              [activeElement]="activeElement"
              property="FontStyleUnderline"
              imageSrc="assets/icons/sidebar/font_underline.svg"
            ></sb-toggle-button>
          </sb-item>
        </ion-col>
        <ion-col>
          <!-- fontlayout -->
          <sb-item caption="ausrichtung">
            <!-- left -->
            <sb-toggle-button
              [activeElement]="activeElement"
              property="Align"
              value="left"
              imageSrc="assets/icons/sidebar/align_left.svg"
            ></sb-toggle-button>

            <!-- centered -->
            <sb-toggle-button
              [activeElement]="activeElement"
              property="Align"
              value="center"
              imageSrc="assets/icons/sidebar/align_center.svg"
            ></sb-toggle-button>

            <!-- right -->
            <sb-toggle-button
              [activeElement]="activeElement"
              property="Align"
              value="right"
              imageSrc="assets/icons/sidebar/align_right.svg"
            ></sb-toggle-button>
          </sb-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid class="multiplepropertiesgrid">
      <ion-row>
        <ion-col>
          <!-- multiline -->
          <sb-item caption="mehrzeilig">
            <sb-checkbox
              [activeElement]="this.activeElement"
              property="Multiline"
            >
            </sb-checkbox>
          </sb-item>
        </ion-col>
        <ion-col>
          <!-- type -->
          <sb-item caption="typ">
            <sb-combobox
              [activeElement]="activeElement"
              property="Numberfield"
              [items]="this.fieldTypes"
              captionvalue="caption"
              type="fieldtype"
            ></sb-combobox>
          </sb-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>

  <ng-container *ngIf="displayProperty('FontExtraProps')">
    <ion-grid class="multiplepropertiesgrid">
      <ion-row>
        <!-- letterspacing -->
        <ng-container *ngIf="displayProperty('LetterSpacing')">
          <ion-col>
            <sb-item caption="zeichenabstand">
              <sb-number-input
                [activeElement]="activeElement"
                property="LetterSpacing"
              ></sb-number-input>
            </sb-item>
          </ion-col>
        </ng-container>

        <!-- linespacing -->
        <ng-container *ngIf="displayProperty('LineSpacing')">
          <ion-col>
            <sb-item caption="zeilenabstand">
              <sb-number-input
                [activeElement]="activeElement"
                property="LineSpacing"
              ></sb-number-input>
            </sb-item>
          </ion-col>
        </ng-container>

        <!-- fontcolor -->
        <ion-col
          [class.marginleft10]="
            displayProperty('LetterSpacing') || displayProperty('LineSpacing')
          "
        >
          <sb-item caption="farbe">
            <sb-color-picker
              [activeElement]="activeElement"
              property="FontColor"
            ></sb-color-picker>
          </sb-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>

  <!-- dateformat -->
  <ng-container *ngIf="displayProperty('TextEditOptions')">
    <ng-container *ngIf="displayProperty('DateFormat')">
      <sb-item class="margintop17" caption="datumsformat">
        <!-- TODO maybe find a better way to fix "Expression has changed..." -->
        <!-- [title]="
              dateFormater.formatDate(
                this.activeElement.DateFormat,
                this.activeElement.Text
              )
            " -->
        <sb-combobox
          [activeElement]="activeElement"
          default="DD.MM.YYYY"
          property="DateFormat"
          [items]="dateFormater.itemsCombobox"
          captionvalue="caption"
          showEditButton="true"
          (openTextareaFunction)="
            this.InputDialog('Datumsformat', 'DateFormat')
          "
        >
        </sb-combobox>
      </sb-item>
    </ng-container>

    <!-- databinding -->
    <sb-item class="margintop17" caption="datenbindung">
      <sb-data-binding [activeElement]="activeElement"></sb-data-binding>
    </sb-item>

    <!-- preselection -->
    <sb-item class="margintop17" caption="vorbelegung">
      <sb-text-input
        [activeElement]="activeElement"
        property="PreselectionString"
        (openTextareaFunction)="
          this.InputDialog('Vorbelegung', 'PreselectionString')
        "
      ></sb-text-input>
    </sb-item>

    <!-- assignment -->
    <sb-item class="margintop17" caption="auftragskürzel-/typ">
      <sb-text-input
        [activeElement]="activeElement"
        property="DataKind"
        (openTextareaFunction)="
          this.InputDialog('Auftragskürzel-/typ', 'DataKind')
        "
      ></sb-text-input>
    </sb-item>

    <!-- assignmentdaterange -->
    <ng-container *ngIf="displayProperty('AssignmentDateRange')">
      <sb-item
        class="margintop17"
        [caption]="
          getAssignmentRangeCaption(this.activeElement.AssignmentRange)
        "
      >
        <sb-number-input
          [activeElement]="this.activeElement"
          property="AssignmentRange"
        ></sb-number-input>
      </sb-item>
    </ng-container>

    <!-- formel -->
    <sb-item class="margintop17" caption="formel">
      <sb-text-input
        [activeElement]="activeElement"
        property="Formula"
        (openTextareaFunction)="this.InputDialog('Formel', 'Formula')"
      ></sb-text-input>
    </sb-item>

    <!-- formel only on new  -->
    <ng-container *ngIf="displayProperty('CalcOnCreation')">
      <sb-item class="margintop10" caption="formel nur bei neuanlage berechnen">
        <sb-checkbox
          [activeElement]="this.activeElement"
          property="CalcOnCreation"
        >
        </sb-checkbox>
      </sb-item>
    </ng-container>
  </ng-container>

  <!-- QRCodeOptions -->
  <ng-container *ngIf="displayProperty('QRCodeOptions')">
    <sb-item class="margintop10" caption="typ">
      <sb-combobox
        [activeElement]="activeElement"
        property="BarcodeType"
        [items]="this.qrTypes"
        default="QR"
        captionvalue="caption"
      ></sb-combobox>
    </sb-item>
  </ng-container>

  <!-- MarkFieldOptions -->
  <ng-container *ngIf="displayProperty('MarkFieldOptions')">
    <sb-item class="margintop10" caption="verbinden">
      <sb-checkbox
        [activeElement]="activeElement"
        property="Connect"
      ></sb-checkbox>
    </sb-item>
  </ng-container>

  <!-- PaintingOptions -->
  <ng-container *ngIf="displayProperty('PaintingOptions')">
    <ion-grid class="multiplepropertiesgrid">
      <ion-row>
        <ion-col>
          <!-- borderwidth -->
          <sb-item caption="linienstärke">
            <sb-number-input [activeElement]="activeElement" property="PenSize">
            </sb-number-input>
          </sb-item>
        </ion-col>
        <ion-col>
          <!-- bordercolor -->
          <sb-item caption="linienfarbe">
            <sb-color-picker
              [activeElement]="activeElement"
              property="FontColor"
            ></sb-color-picker>
          </sb-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>
</div>

<!-- input for images -->
<input
  type="file"
  accept="image/*"
  #imageInput
  (change)="changeImage(imageInput.files[0])"
  [style.display]="'none'"
/>
