:host {
  display: flex;
  width: 100%;
  color: #2063ff;
  letter-spacing: 1.07px;
  cursor: pointer;
}

.comboboxdiv {
 display: flex;
  width: 100%;
}

.openpopovercontent {
  display: flex;
  width: 100%;
  border-bottom: 2px solid #746654;
}

.dropdownbtn {
  margin-left: auto;
  margin-right: 0px;
}
