<!-- menuitems left aligned -->
<div class="wrapper">
  <div class="menuleft">
    <!-- save -->
    <mb-button
      (click)="save()"
      caption="Speichern"
      imgsrc="assets/icons/menubar/save.svg"
    ></mb-button>

    <!-- print -->
    <mb-button
      caption="Drucken"
      imgsrc="assets/icons/menubar/print.svg"
    ></mb-button>

    <!-- import -->
    <mb-button
      (click)="this.importInput.click()"
      caption="Importieren"
      imgsrc="assets/icons/menubar/import.svg"
      *ngIf="this.Mode == 0"
    ></mb-button>

    <!-- export -->
    <mb-button
      (click)="this.export.emit('MFW')"
      caption="Exportieren"
      imgsrc="assets/icons/menubar/export.svg"
      *ngIf="this.Mode == 0"
    ></mb-button>

    <!-- preview -->
    <mb-button
      (click)="changeViewModeTrigger()"
      [caption]="this.Mode === 1 ? 'Vorschau an' : 'Vorschau aus'"
      imgsrc="assets/icons/menubar/preview.svg"
      *ngIf="this.Mode == 0 || this.Mode == 3"
    ></mb-button>

    <!-- undo -->
    <mb-button
      [class.disabled]="history.undos.length === 0"
      (click)="history.undos.length > 0 ? history.undo() : null"
      caption="Rückgängig"
      imgsrc="assets/icons/menubar/undo.svg"
    ></mb-button>

    <!-- redo -->
    <mb-button
      [class.disabled]="history.redos.length === 0"
      (click)="history.redos.length > 0 ? history.redo() : null"
      caption="Wiederherstellen"
      imgsrc="assets/icons/menubar/redo.svg"
    ></mb-button>
  </div>

  <!-- menuitems right aligned -->
  <div class="menuright">
    <!-- settings -->
    <mb-button
      (click)="openSettings()"
      imgsrc="assets/icons/menubar/settings.svg"
      *ngIf="this.Mode == 0"
    ></mb-button>

    <!-- help -->
    <mb-button
      imgsrc="assets/icons/menubar/help.svg"
      (click)="demo()"
    ></mb-button>
  </div>

  <!-- invisible file input -->
  <input
    type="file"
    accept=".MFO, .MFW"
    #importInput
    (change)="this.import.emit({ File: importInput.files[0], Type: 'MFO' })"
    [style.display]="'none'"
  />
</div>
