:host {
  display: block;
}

.wrapper {
  display: flex;
  margin-left: 7px;
  margin-top: 7px;
  background-color: #f2f4f6;
  align-items: center;
  height: 37px;
  margin-right: -2px;
  font-family: 'mfoeditorfont';
}

.menuleft {
  display: flex;
}

mb-button {
  margin-left: 7px;
}

.menuright {
  display: flex;
  margin-left: auto;
  margin-right: 5px;
}

.disabled {
  opacity: 0.3;
  cursor: default;
}
