:host {
  display: flex;
  min-width: 50px;
  max-width: 50px;
  flex-grow: 1;
  margin-left: 5px;
}

.tab {
  height: 19px;
  margin-top: 7px;
  position: relative;
  flex-basis: 20px;
  display: flex !important;
  flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  min-width: 50px;
  max-width: 50px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.caption {
  display: block;
  justify-content: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.active {
  background-color: #ffffff;
}
