/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import '~@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

/* Datepicker JS Styling */
@import '~js-datepicker/src/datepicker';

/* Editor Fonts */
@font-face {
  font-family: 'mfoeditorfont';
  src: url('/assets/editorfonts/weblysleekuil.ttf');
}

@font-face {
  font-family: 'mfoeditorfontbold';
  src: url('/assets/editorfonts/weblysleekuisb.ttf');
}

@font-face {
  font-family: 'mfoeditorfontitalic';
  src: url('/assets/editorfonts/weblysleekuili.ttf');
}

.invisiblebackdrop {
  --backdrop-opacity: var(--ion-backdrop-opacity, 0.001);
}
.alert-button-inner {
  display: inline-block !important;
  text-transform: none;

  &::first-letter {
    text-decoration: underline !important;
  }
}
.qrc {
  img,
  canvas {
    width: 100% !important;
    height: 100% !important;
  }
}

// databinding popovers
.databindingTopicPopover {
  .popover-wrapper .popover-content {
    max-width: 300px;
    min-width: 100px;
    max-height: 300px;
    width: auto !important;
  }

  ion-item {
    --min-height: 30px !important;
    --max-height: 30px !important;
    --padding-start: 0 !important;
    cursor: pointer !important;

    ion-icon {
      margin: 0 !important;
      height: 20px !important;
      width: 20px !important;
    }
  }
}

.databindingItemPopover {
  .popover-wrapper .popover-content {
    max-width: 200px;
    min-width: 200px;
    max-height: 300px;
    width: 200px !important;
    top: var(--databinding-select-item-popover-y) !important;
    left: calc(var(--databinding-select-item-popover-x) - 200px) !important;
  }

  ion-item {
    --min-height: 30px !important;
    --max-height: 30px !important;
    cursor: pointer !important;
  }
}

.choosenItemDataBinding {
  font-weight: bold;
  --background: green;
}

// sb-combobox popover
.comboboxpopover {
  .popover-wrapper .popover-content {
    max-width: 292px;
    min-width: 292px;
    max-height: 205px;
    width: auto !important;

    border-radius: 0px !important;
    box-shadow: 0.71px 0.71px 16px #0000003d;
  }
}

// calendar override
.qs-centered {
  top: 40%;
}

.qs-datepicker-container {
  font-size: 20px;
}

// ion input hide default arrows
.hidedefaultarrows {
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type='number'] {
    -moz-appearance: textfield;
  }
}

// global short
.marginleft5 {
  margin-left: 5px;
}

.marginleft10 {
  margin-left: 10px;
}

.margintop10 {
  margin-top: 10px;
}

.margintop17 {
  margin-top: 17px;
}

.talc {
  text-align: center;
}

.inputModal .modal-wrapper {
  width: 621px;
  height: 376px;
}

.dataBindingModal .modal-wrapper {
  width: 1064px;
  height: 595px;
}

.autotextModal .modal-wrapper {
  width: 1064px;
  height: 595px;
}

.autotextlistPopover {
  .popover-wrapper .popover-content {
    border-radius: 0px !important;
    border: 1px solid #6b7783;
    top: var(--autotextlist-top) !important;
    left: var(--autotextlist-left) !important;
  }
}

.crosshair {
  cursor: url(/assets/icons/cursor/crosshair.svg) 8 8, auto !important;
}

.pen {
  cursor: url(/assets/icons/cursor/pen.svg) 0 16, auto !important;
}

@media print {
  .ion-page,
  ion-router-outlet {
    overflow: visible;
  }

  body {
    -webkit-print-color-adjust: exact !important;
    color-adjust: exact !important;
    visibility: hidden;
    overflow: visible;
    & .printView,
    .noprint {
      width: 0 !important;
      min-width: 0 !important;
      height: 0 !important;
      min-height: 0 !important;
    }

    & #area {
      overflow: visible;
      padding: 0;
    }
    & #page {
      page-break-after: always;
      visibility: visible;
      margin-bottom: 0 !important;
      transform: none !important;
    }
  }

  .settingsModal div.modal-wrapper {
    width: 278px !important;
    height: 328px !important;
    margin-top: -136px;
    border: 2px solid;
    position: absolute;
    margin-left: 26px;
  }

}
.selected .openpopovercontent {
  border-bottom: 2px solid #ccc !important;
}